.photo {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.photo > img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}