.photo-album-cover {
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-album {
    display: inline-block;
    width: 200px;
    margin: 10px;
}

.photo-album-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

